* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #333; FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
BUTTON {
	FONT-SIZE: 12px
}
SELECT {
	BACKGROUND: #fff; FONT-SIZE: 12px
}
TEXTAREA {
	BACKGROUND: #fff; FONT-SIZE: 12px
}
TH {
	WHITE-SPACE: nowrap
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; DISPLAY: block; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	COLOR: #16387c; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}
.header {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #3071bf; HEIGHT: 40px; PADDING-TOP: 0px
}
.header .logo {
	WIDTH: 200px; FONT: 700 19px/40px Georgia, Arial, sans-serif; FLOAT: left; HEIGHT: 40px; COLOR: #fff
}
.header .right_menu {
	DISPLAY: block; FLOAT: right; PADDING-TOP: 6px
}
.right_menu SPAN A {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 26px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/top_menubg.gif) #368ddd no-repeat 5px 5px; FLOAT: left; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #fff; MARGIN-LEFT: 8px; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 1px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.right_menu SPAN A:hover {
	BACKGROUND-COLOR: #1071bf; COLOR: #fff
}
.right_menu SPAN A.bb {
	BACKGROUND-POSITION: 5px -27px
}
.right_menu SPAN A.cc {
	BACKGROUND-POSITION: 5px -60px
}
.right_menu SPAN A.dd {
	BACKGROUND-POSITION: 5px -91px
}
#menu {
	TEXT-ALIGN: left; MARGIN-TOP: 10px; WIDTH: 150px; FONT: 12px Arial, Helvetica, sans-serif; FLOAT: left
}
#menu UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
#menu UL LI A {
	LINE-HEIGHT: 26px; PADDING-LEFT: 20px; DISPLAY: block; HEIGHT: 26px; COLOR: #0071bf; TEXT-DECORATION: none
}
#menu UL LI A:hover {
	BACKGROUND-COLOR: #3071bf; COLOR: #fff
}
.none {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; PADDING-TOP: 0px
}
.menubg_1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 28px; MARGIN-TOP: 1px; TEXT-INDENT: 25px; WIDTH: 150px; BACKGROUND: url(../images/menubg.png) repeat-x; HEIGHT: 30px; COLOR: #777; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 700
}
.menubg_2 {
	TEXT-ALIGN: left; LINE-HEIGHT: 28px; MARGIN-TOP: 1px; TEXT-INDENT: 25px; WIDTH: 150px; BACKGROUND: url(../images/menubg.png) left -31px; HEIGHT: 30px; COLOR: #0061bf; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 700
}
.ui-layout-pane {
	BORDER-BOTTOM: #c6d6e7 0px solid; BORDER-LEFT: #c6d6e7 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #c6d6e7 0px solid; BORDER-RIGHT: #c6d6e7 0px solid; PADDING-TOP: 0px
}
.ui-layout-pane-north {
	BORDER-BOTTOM: #c6d6e7 0px solid; BORDER-LEFT: #c6d6e7 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #c6d6e7 0px solid; BORDER-RIGHT: #c6d6e7 0px solid; PADDING-TOP: 0px
}
.ui-layout-pane-south {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f4f6fa; BORDER-TOP: #c6d6e7 0px solid; PADDING-TOP: 0px
}
.ui-layout-pane-west {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; BACKGROUND: #f7f7fa; OVERFLOW: hidden; BORDER-RIGHT: #c6d6e7 0px solid; PADDING-TOP: 3px
}
.ui-layout-center .ui-layout-content {
	BORDER-LEFT: #c6d6e7 0px solid; BORDER-TOP: #c6d6e7 0px solid
}
.ui-layout-pane-center {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ui-layout-content {
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden
}
.ui-layout-resizer {
	BACKGROUND: #f3f3f3
}
.ui-layout-toggler {
	BACKGROUND: #bcd
}
.ui-layout-resizer-dragging {
	BACKGROUND: #e2ecef
}
.ui-layout-resizer:hover .ui-layout-toggler {
	BACKGROUND: #bcd
}
.ui-layout-resizer:hover .ui-layout-toggler:hover {
	BACKGROUND: #fc0
}
.ui-layout-resizer-dragging-limit {
	BACKGROUND: #bcd
}
.login_title {
	TEXT-ALIGN: center; MARGIN: 90px auto 0px; WIDTH: 350px; FONT: 700 24px Georgia, Arial, sans-serif; COLOR: #3071bf
}
.login_main {
	PADDING-BOTTOM: 6px; MARGIN: 30px auto; PADDING-LEFT: 6px; WIDTH: 352px; PADDING-RIGHT: 6px; BACKGROUND: #f7f7fa; PADDING-TOP: 6px
}
.login_box {
	BORDER-BOTTOM: #c2d5df 1px solid; BORDER-LEFT: #c2d5df 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 5px; WIDTH: 340px; PADDING-RIGHT: 5px; BACKGROUND: #fff; BORDER-TOP: #c2d5df 1px solid; BORDER-RIGHT: #c2d5df 1px solid; PADDING-TOP: 5px
}
.login_do {
	BORDER-BOTTOM: #c4d5df 0px dashed; TEXT-ALIGN: center; BORDER-LEFT: #c4d5df 0px dashed; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #f1f4f8; COLOR: #f30; BORDER-TOP: #c4d5df 0px dashed; FONT-WEIGHT: 700; BORDER-RIGHT: #c4d5df 0px dashed; PADDING-TOP: 8px
}
.login_box TABLE TH {
	TEXT-ALIGN: left; LINE-HEIGHT: 50px; WIDTH: 70px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.login_box TABLE TD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 50px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.login_box TABLE TD INPUT {
	MARGIN: -4px 2px 0px 0px
}
.login_box TABLE TD .login_input {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 2px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 210px; PADDING-RIGHT: 5px; BACKGROUND: #fff; HEIGHT: 30px; COLOR: #000; FONT-SIZE: 14px; BORDER-TOP: #ddd 2px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px
}
.login_box TABLE TD .login_yz {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 2px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 100px; PADDING-RIGHT: 5px; BACKGROUND: #fff; HEIGHT: 30px; COLOR: #000; FONT-SIZE: 14px; BORDER-TOP: #ddd 2px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px
}
.login_box TABLE TD A.button {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 33px; WIDTH: 86px; DISPLAY: block; BACKGROUND: url(login_btn.gif) #d8eff7 no-repeat 0px 0px; HEIGHT: 33px; COLOR: #1664ac; FONT-SIZE: 14px; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.login_box TABLE TD A.button:hover {
	BACKGROUND: url(../images/login_btn.gif) #afdef0 no-repeat 0px -33px; COLOR: #002973; TEXT-DECORATION: none
}
.login_footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 25px; WIDTH: 400px; PADDING-RIGHT: 0px; HEIGHT: 33px
}
.login_footer P {
	LINE-HEIGHT: 20px; COLOR: #666
}
